;  __  __  ____  _____ _____ ________	 __
; |  \/  |/ __ \|  __ \_   _|  ____\ \   / /
; | \  / | |  | | |  | || | | |__   \ \_/ /
; | |\/| | |  | | |  | || | |  __|   \   /
; | |  | | |__| | |__| || |_| |	   | |
; |_|  |_|\____/|_____/_____|_|	   |_|
;		Stripper by Małgo 18.07.2021

;---------------------------------------
;Nerf damage 2nd phas
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Bergan2_Hurt"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damagecap" "24"
		"damage" "32"
	}
}
;---------------------------------------
;Fix broken particle ring wave additive
;---------------------------------------
filter:
{
	"targetname" "Item_Shield_particle_1"
	"hammerid" "11169887"
}
filter:
{
	"targetname" "Item_Shield_particle_1"
	"hammerid" "10478933"
}
filter:
{
	"targetname" "Item_Shield_particle_2"
	"hammerid" "11170519"
}
filter:
{
	"targetname" "Item_Shield_particle_2"
	"hammerid" "10502063"
}
filter:
{
	"targetname" "Item_Shield_particle_3"
	"hammerid" "11171383"
}
filter:
{
	"targetname" "Item_Shield_particle_3"
	"hammerid" "10524668"
}
modify:
{
	match:
	{
		"targetname" "Stage-1_BossAttackShieldParticle"
		"classname" "info_particle_system"
	}
	replace:
	{
		"effect_name" "custom_particle_307"
	}
}
modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "7356973"
	}
	delete:
	{
		"OnMultiNewRound" "cmdCommandsay **Map Status: No Stripper!**0-1"
	}
	insert:
	{
		"OnMultiNewRound" "cmdCommandsay **Map Status: Stripper #1 Enable!**0-1"
		"OnMultiNewRound" "cmdCommandsay **Thanks to Dominikk & Vauff for help!**25-1"
	}
}

modify:
{
	match:
	{
		"targetname" "Stage4_once"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnTrigger" "cmdCommandsay **Gates will open in 20 seconds!**01"
		"OnTrigger" "Stage4_Doors_001FireUser1201"
		"OnTrigger" "Stage4_UP_Explosion_CaseFireUser2201"
		"OnTrigger" "Stage4_Vent_001Break01"
		"OnTrigger" "Stage4_Doors_001Open201"
	}
	insert:
	{
		"OnTrigger" "cmdCommandsay **Gates will open in 5 seconds!**01"
		"OnTrigger" "Stage4_Doors_001FireUser151"
		"OnTrigger" "Stage4_UP_Explosion_CaseFireUser251"
		"OnTrigger" "Stage4_Vent_001Break01"
		"OnTrigger" "Stage4_Doors_001Open51"
	}
}
modify:
{
	match:
	{
		"targetname" "Stage4_laser_Trigger"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnTrigger" "Stage4_Floor_CasePickRandom11"
	}
	insert:
	{
		"OnTrigger" "Stage4_Floor_CaseInValue111"
	}
}
modify:
{
	match:
	{
		"targetname" "Level_Case"
		"classname" "logic_case"
	}
	insert:
	{
		"OnCase05" "SpawnTeleport_spawn_1AddOutputorigin -64.793289 2724.804688 10212.5332030.05-1"
		"OnCase04" "SpawnTeleport_spawn_1AddOutputorigin -7988.210449 -12003.200195 -2557.9062500.05-1"
	}
}
modify:
{
	match:
	{
		"targetname" "Level_Counter"
		"classname" "math_counter"
	}
	replace:
	{
		"min" "4"
		"max" "5"
	}
}
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnNewGame" "SpawnTeleportAFK1Enable0.5-1"
	}
}
modify:
{
	match:
	{
		"targetname" "Stage4_WinTriggerCt"
		"hammerid" "11832935"
	}
	delete:
	{
		"OnTrigger" "Level_CounterSetValueNoFire101"
	}
	insert:
	{
		"OnTrigger" "ChumbudStartTrigger0.1-1"
		"OnTrigger" "Level_CounterSetValueNoFire501"
	}
}
modify:
{
	match:
	{
		"targetname" "Stage-1_WinTriggerCt"
		"origin" "-8001 -15289.5 -2888.01"
	}
	delete:
	{
		"OnTrigger" "Level_CounterSetValueNoFire501"
	}
	insert:
	{
		"OnTrigger" "ChumbudStartTrigger0.1-1"
		"OnTrigger" "Level_CounterSetValueNoFire401"
	}
}
modify:
{
	match:
	{
		"classname" "func_button"
	}
	delete:
	{
		"OnPressed" "/^Nuke_hurt/"
	}
}